
.navbar {
  background-color: $backgroundColor;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-container {
  padding: 0 5px 0 5px;
  justify-content: center;
  align-items: center;
}

.searchBox {
  background-color: rgba(255,255,255,0.14);
  border-bottom: 1px solid rgba(0,0,0,0.08);
  padding: 4px;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px $primaryColor solid;
  background-color: white;
}

.input-box {
  border: none;
  width: 100%;
  min-height: 35px;
  user-select: text;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}
.list-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow:scroll;
}

.list-row {
  font-size: 0.9em;
  font-family: 'Roboto';
  cursor: pointer;
  &:hover{
    background-color: rgba(0,0,0,0.1);
  }
}

.more-vert {
  position: relative;
  border-radius: 30px;
  transition: background-color 0.5s ease-out;
  &:hover{
    background-color: rgba(0,0,0,0.1);
  }
}

.chat-body {
  :first-child {
    :first-child {
      font-weight: bolder;
      color: #000;
    }
  }
  color: rgba(0,0,0,0.6);
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid $primaryColor;
  div {
    padding: 2px 0 2px 0;
  }
}

.more-vert-option {
  position: absolute;
  top: 40px;
  right: 4px;
  transform-origin: right top 0px;
  transform: scale(0);
  transition: transform .15s ease-out;

  &.active {
    transform: scale(1);
  }
}


.more-vert-list-view {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $secondaryColor;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
  font-size: 16px;
  border-radius: 3px;
  max-width: 200px;
  min-width: 180px;
  text-align: left;
  font-family: 'Roboto';
  li {
    list-style-type: none;
    padding: 10px 15px;

    &:hover{
      background-color: #f4f5f5;
    }
  }


}
