.avatar-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  flex-direction: column;
  font-family: "Roboto";
}

.avatar-image-big {
  height: 200px;
  width: 200px;
  padding: 10px;
  border-radius: 100px;
}
