.dialog {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #fff;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
}

.dialog-hidden {
    display: none;
}


.dialog-header {
    height: 60px;
    background-color: #fff;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-family: 'Roboto';
            padding: 0 10px 0 10px;
        }
    }
}

.dialog-avatar-header {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.dialog-header-close {
    font-family: 'Roboto'
}

.dialog-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-body-image {
    height: 450px;
    width: 450px;
    transform-origin: center;
    animation: scaleup 1s;
}

.dialog-body-image-hidden {
    height: 450px;
    width: 450px;
    transform-origin: center;
    animation: scaleDown 1s;
}

@keyframes scaleup {
    from {
        transform: translateX(405px) translateY(-138px) scale(0.4);
        border-radius: 225px;
    }
    to {
        transform: translateX(0)  translateY(0) scale(1);
        border-radius: 0
    }
}

@keyframes scaleDown {
    from {
        transform: translateX(0)  translateY(0) scale(1);
        border-radius: 0
    }
    to {
        transform: translateX(405px) translateY(-138px) scale(0.4);
        border-radius: 225px;
    }
}
